<h2>Записаться</h2>


<form action="/visit" method="POST" role="form">


  
  <div class="form-group">
    <label>Ваше имя</label>
    <input id="bbb" name="username" type="text" class="form-control" placeholder="Введите ваше имя" value=<%=@username%>>
  </div>
  <div class="form-group">

  <div class="form-group">
    <label>Телефон</label>
    <input name="phone" type="text" class="form-control ccc" placeholder="Введите ваш телефон" value=<%=@phone%>>
  </div>
  <div class="form-group">

  <div class="form-group">
      <label>Желаемая дата записи</label><br>

    <input id="datetimepicker" type="text" name="datetime" class="form-control" placeholder="Введите дату записи" value=<%=@datetime%>>

  <br><label>Выберите парикмахера</label>
  <select class="form-control ccc", name='barber'>
    <option <%= @barber == 'Jessie Pinkman' ? 'selected' : '' %>>Jessie Pinkman</option>
    <option <%= @barber == 'Walter White' ? 'selected' : '' %>>Walter White</option>
    <option <%= @barber == 'Gus Fring' ? 'selected' : '' %>>Gus Fring</option>
  </select>
  <br>

  <div class="form-group" >
    <label>Цвет краски</label>
    <select id="color" name="color">
      <option <%= @color == 'Green' ? 'selected' : '' %>>Green</option>
      <option <%= @color == 'Blue' ? 'selected' : '' %>>Blue</option>
      <option <%= @color == 'Turquoise' ? 'selected' : '' %>>Turquoise</option>
      <option <%= @color == 'Yellow' ? 'selected' : '' %>>Yellow</option>
      <option <%= @color == 'Orange' ? 'selected' : '' %>>Orange</option>
      <option <%= @color == 'Red' ? 'selected' : '' %>>Red</option>
      <option <%= @color == 'Purple' ? 'selected' : '' %>>Purple</option>
      <option <%= @color == 'Gray' ? 'selected' : '' %>>Gray</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>
</form>


<script type="text/javascript">
$(function() {

  $('#color').simplecolorpicker();
  $('#datetimepicker').datetimepicker();
});
</script>